
# C
*.o
*.exe
*.out
*.a
*.so
include/*

# MAC
*.DS_Store

# EDITORS
*.dSYM/
*settings.json
*launch.json
*c_cpp_properties.json
*.lnt

# MATLAB
*.m~

#TMP FILES
tmp/
correct.txt
wrong.txt
qp.json
qp_*.json
